.image-cropper {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}
.image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

table {
  border-spacing: 0px;
  border-collapse: separate;
  padding: 0px;
  border: solid 1px #f2f2f2;
}

table th {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

table td {
  padding: 10px;
}

table tr:nth-child(even) {
  background: #f2f2f2;
}
