<!--FOOTER-->
<div class="container">
    <div class="row">
        <div class="eleven columns"><br /><br /><br /><br /><hr style="margin-top:5px;margin-bottom:5px;margin-left:-5px;margin-right:-5px" /></div>
    </div>
    <div class="row">
        <div class="eleven columns" style="text-align:center">Abhijit Annaldas</div>
    </div>
    <div class="row">
        <div class="eleven columns" style="text-align:center"><small>avannaldas [at] hotmail [dot] com</small></div>
    </div>
    <div class="row">
        <div class="eleven columns" style="text-align:center"><small><small><i><b>The blog is under making, some links are placeholders. Content may be changed/updated in couple of days. ETA till completion: 26 Dec 2016</b></i></small></small></div>
    </div>
    <div class="row">
        <div class="eleven columns"><hr style="margin-top:5px;margin-bottom:5px;margin-left:-5px;margin-right:-5px" /></div>
    </div>
</div>
