<!--HEADER-->
<div class="container">
    <div>
        <div class="eleven columns"><hr style="margin-top:5px;margin-bottom:5px;margin-left:-5px;margin-right:-5px" /></div>
    </div>
    <div class="row">
        <div class="eleven columns" style="text-align:center">
            <h1 style="margin-bottom:1px;">Abhijit Annaldas</h1>
            <i style="margin-top:1px;margin-bottom:1px;">For the love of data and machines that can learn!</i><br />
        </div>
    </div>
    <div class="row">
        <div class="eleven columns" style="text-align:center;">
            <small><a target="_blank" href="http://www.github.com/avannaldas">GitHub</a> | <a target="_blank" href="http://www.twitter.com/avannaldas">Twitter</a> | <a target="_blank" href="https://www.linkedin.com/in/avannaldas">LinkedIn</a></small>
        </div>
    </div>
    <div>
        <div class="eleven columns"><hr style="margin-top:5px;margin-bottom:5px;margin-left:-5px;margin-right:-5px" /></div>
    </div>
    <div class="row" style="text-align:center;">
        <div class="eleven columns" style="background-color:whitesmoke;">
            <a style="margin-left:10px;margin-right:7px;" href="{{ site.baseurl }}">Home</a> 
            <!--<a style="margin-left:7px;margin-right:7px;" href="{{site.url}}/projects/">Projects</a>--> 
            <a style="margin-left:7px;margin-right:7px;" href="{{ site.baseurl }}">All Posts</a> 
            <a style="margin-left:7px;margin-right:10px;" href="{{site.url}}/useful-stuff/">Useful Stuff</a>
            <a style="margin-left:7px;margin-right:10px;" href="{{site.url}}/about/">About Me</a>
        </div>
    </div>
    <div>
        <div class="eleven columns"><hr style="margin-top:5px;margin-bottom:5px;margin-left:-5px;margin-right:-5px" /></div>
    </div>
</div>
