<!--Header-->
<div class="row" style="text-align:center">
	<div class="col-sm-12">
		<p>
			<h1>Abhijit Annaldas</h1>
			<h5>For the love of data and machines that can learn!</h5>
			<img class="image-cropper" src="https://github.com/avannaldas/avannaldas.github.io/raw/master/css/1.jpg">
		</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12" style="margin-bottom:5px;text-align:center">
		<big>
		<A href="http://github.com/avannaldas" target="_blank">GitHub</A> | 
		<A href="http://kaggle.com/avannaldas" target="_blank">Kaggle</A> | 
		<A href="http://linkedin.com/in/avannaldas" target="_blank">LinkedIn</A> | 
		<A href="https://www.quora.com/profile/Abhijit-Annaldas" target="_blank">Quora</A> |
		<A href="http://twitter.com/avannaldas" target="_blank">Twitter</A> | 
		<A href="https://avannaldas.github.io/feed" target="_blank">Feed</A>
		</big>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{site.baseurl}}/">Abhijit Annaldas</a>
				</div>
				<div class="collapse navbar-collapse" id="myNavbar">
					<ul class="nav navbar-nav">
						<li class="active"><a href="{{site.baseurl}}/">Home</a></li>
						<li><a href="{{site.url}}/all-posts/">All Posts</a></li>
						<li><a href="{{site.url}}/projects/">Projects</a></li>
						<li><a href="{{site.url}}/getting-started-with-machine-learning-in-one-hour/">Getting Started!</a></li>
						<li><a href="{{site.url}}/useful-stuff/">Learning Resources</a></li>
						<li><a href="{{site.url}}/discuss/">Discussion</a></li>
						<li><a target="_blank" href="https://about.me/avannaldas">About Me</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</div>
